/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
config.yml
.clj-kondo
.lsp
.calva
/code-path/
start.sh
deno_error.txt
.shadow-cljs/
src/test/devneya/testData/tests.js
package-lock.json
/public
/node_modules
/lib/cljs-runtime