body {
    margin: 0;
}

#submit-form {
    width: 300px;
    height: 390px;
    background-color: #fff;
    padding: 20px;
}

#submit-form.active {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.show-form,
button[type="submit"] {
    box-sizing: border-box;
    border: none;
    height: 30px;
    width: 150px;
    text-align: center;
    padding: 8px 0;
    margin: 0 auto;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #4CAF50;
    border-radius: 8px;
    color: #fff;
}

.show-form:hover,
button[type="submit"]:hover {
    background-color: #317433;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input[type="text"],
textarea {
    width: -webkit-fill-available;
    height: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-bottom: 20px;
    height: fit-content;
}

textarea#prompt {
    padding: 14px 10px 5px 10px;
    box-sizing: border-box;
    height: 42px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

textarea[name="response"] {
    width: -webkit-fill-available;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-top: 20px;
}