/* cookie-code popup button */
.js-cookie-code-popup-button {
  box-sizing: border-box;
  border: none;
  height: 30px;
  width: fit-content;
  text-align: center;
  padding: 8px 20px;
  margin: 0 auto;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #4caf50;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
}

/* main part */
.cookie-code-form {
  max-width: 400px;
  margin: 10% auto;
  background-color: #fff;
  padding: 40px 20px 30px;
  border-radius: 5px;
  box-shadow: 3px 6px 36px rgb(0 0 0 / 30%);
  display: none;
  position: relative;
  font-family: sans-serif;
  z-index: 10;
}

.cookie-code-form.active {
  display: flex;
  flex-direction: column;
  height: 450px;
  gap: 20px;
}

.cookie-code-form__close-button {
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */

  position: absolute;
  right: 25px;
  top: 10px;
  font-size: 28px;
  font-weight: 400;
  transform: rotate(45deg);
  cursor: pointer;
}

.cookie-code-form__button {
  box-sizing: border-box;
  border: none;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #4caf50;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

#dcookie-code-form__button:hover {
  background-color: #317433;
}

.cookie-code-form__label {
  display: block;
  color: #333;
}

.cookie-code-form__prompt,
.cookie-code-form__response,
.cookie-code-form__api-key {
  width: -webkit-fill-available;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  box-sizing: border-box;
}

.cookie-code-form__response {
  height: 30em;
}

.cookie-code-form__prompt {
  height: 15em;
}
