

.cookie-code-btn{
    font-family: Inter,sans-serif;
    background-color: inherit;
    font-weight: 500;
    text-transform: none;
    font-size: .75rem;
    line-height: 1rem;
    color: rgb(17 24 39/1);
    padding: 0;
    margin: 0;
    margin-left: 0.5rem;
    }
    
.cookie-code-btn:hover {
    background-color: rgb(243 244 246/1)
}
    